@import "../../styles/index.scss";

.main-menu {
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
}

.bg {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 80vh;
    background-size: cover;
    background-position: center;
    will-change: opacity;
    z-index: -10;
}

.menu-container {
    background-color: $primary-color;
    padding: 1em;
    border-radius: 1em;
    opacity: 0.9;
}

.menu-nav {
    text-decoration: none;

}