.GameStatistic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.statisitcs-card {
    display: flex;
}

.pagination {
    display: flex;
}

.selected-page {
    font-weight: bold;
}