@import "../../styles/index.scss";

.GameHeader {
    @include borders($additional-border-color, $primary-border-color);
    display: flex;
    justify-content: space-around;
    background-color: $primary-color;
    padding: 10px 12px;
}