@import "../../styles/index.scss";

.GameScreen {
    @include borders;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: $primary-color;
    padding: 16px;
}

.game-controls {
    display: flex;
    justify-content: space-around;
    width: 50vw;
}