$primary-color: grey;
$secondary-color:white;
$primary-border-color: #fff;
$additional-border-color: #7b7b7b;
$display-color: red;
$display-background-color: black;
$first-button-value: blue;
$second-button-value: green;
$third-button-value: red;
$fourth-button-value: purple;
$fifth-button-value: maroon;
$sixth-button-value: turquoise;
$seventh-button-value: black;
$eights-button-value: gray;

@mixin borders($left-top: $primary-border-color, $right-bottom: $additional-border-color) {
    border-top-color: $left-top;
    border-right-color: $right-bottom;
    border-bottom-color: $right-bottom;
    border-left-color: $left-top;
    border-style: solid;
    border-width: 4px;
}

@mixin buttons {
    &:active {
        border-top-color: $secondary-color;
        border-right-color: $primary-color;
        border-bottom-color: $primary-color;
        border-left-color: $secondary-color;
      }
}